# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
.idea/
*.iml
local.properties

# Android
.gradle/
*.keystore
*.jks
/captures/

# iOS
Pods/
DerivedData/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
